.group{
    margin: 20px;
    padding: 20px;
    
	background-color: lightgrey;
    border-radius: 5px;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.text_area{
    height: 200px;
}